@charset "UTF-8";
:root {
  --mainColor: #ff7f00;
  --mainColor20: #ff7f0033;
  --mainColor05: #ff7f000d;
  --secondColor: #000835;
  --whiteColor: #ffffff;
  --darkColor: #1f1f1f;
  --lightGrayColor: #d6d6d6;
  --grayColor: #777;
  --transition: 0.3s ease-in-out;
  --shadow: 0px 2px 4px #c1c1c1;
  --BigShadow: 0 16px 32px 0 #071c1f1a;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../webfonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoBlack;
  font-display: swap;
  src: url(../webfonts/Roboto-Black.ttf);
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
  color: var(--mainColor);
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

body {
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn {
  font-size: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.btn i {
  font-size: 16px;
}

.btn:focus {
  box-shadow: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}

input {
  accent-color: var(--mainColor) !important;
}

.odometer-inside {
  direction: ltr !important;
}

.fancybox__container {
  z-index: 1999;
}

::-moz-placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 12px;
  color: #bababa !important;
  font-weight: normal !important;
}

::-moz-selection {
  background-color: var(--mainColor);
}

::selection {
  background-color: var(--mainColor);
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: ltr;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

button {
  border: none;
  background-color: transparent;
}

.form-control {
  min-height: 54px;
}
.form-control:focus {
  box-shadow: none;
}

.tooltip {
  --bs-tooltip-bg: var(--textlightGrayr);
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
}

content {
  min-height: calc(100dvh - 313px);
  display: flex;
  flex-direction: column;
}

.preloader {
  background-color: var(--whiteColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloaderImg {
  width: 200px;
  height: 200px;
  -webkit-mask-image: url("../img/logo.svg");
          mask-image: url("../img/logo.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: relative;
}
.preloader .preloaderImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  z-index: 2;
  background-color: var(--mainColor);
  transform: translateY(100%);
  animation: slide-up 1.5s forwards;
}
.preloader .preloaderImg::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1) opacity(0.5);
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.lazyDiv {
  position: relative;
  overflow: hidden;
}
.lazyDiv::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--whiteColor);
  transition: transform 1.2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0%);
}
.lazyDiv.oppositeDir::after {
  right: unset;
  left: 0;
}
.lazyDiv .lazy {
  position: relative;
  z-index: 1;
  width: 100%;
}
.lazyDiv.loaded::after {
  transform: translateX(100%);
}
.lazyDiv.loaded.oppositeDir::after {
  transform: translateX(-100%);
}
.lazyDiv.loaded.down::after {
  transform: translateY(100%);
}
.lazyDiv.loaded.up::after {
  transform: translateY(-100%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  z-index: 999;
}
header .navbar {
  width: min(100% - 32px, 1320px);
  margin: auto;
  padding: 4px 12px;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.602187px 0.602187px -1.25px, rgba(0, 0, 0, 0.043) 0px 2.28853px 2.28853px -2.5px, rgba(0, 0, 0, 0.016) 0px 10px 10px -3.75px;
  opacity: 1;
}
header .navbar .navbar-brand img {
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .navbar .navbar-collapse {
  flex-grow: unset;
}
@media screen and (max-width: 768px) {
  header .navbar .navbar-nav {
    padding: 16px 0;
  }
}
header .navbar .navbar-nav .nav-link {
  text-transform: capitalize;
  color: var(--darkColor);
  font-size: 16px;
  padding: 8px;
}
header .navbar .navbar-nav .nav-link.active, header .navbar .navbar-nav .nav-link:hover {
  color: var(--secondColor);
}

.hearoSection {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100dvh;
}
.hearoSection .videoDiv {
  position: absolute;
  z-index: 0;
  height: 100dvh;
  overflow: hidden;
  width: 100%;
}
.hearoSection .videoDiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hearoSection .inner {
  position: relative;
  z-index: 2;
  width: min(100% - 16px, 600px);
  height: 100%;
  margin: auto;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.hearoSection .inner .title {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-family: "RobotoBlack", sans-serif;
  text-shadow: -2px 2px 0px var(--mainColor);
}
.hearoSection .inner .title span {
  display: inline-flex;
  flex-direction: column;
  color: var(--mainColor);
  font-family: "RobotoBlack", sans-serif;
  text-shadow: -2px 2px 0px var(--whiteColor);
}
.hearoSection .inner .title span::after {
  content: "";
  width: 100%;
  height: 14px;
  background-image: url(../img/icons/line.svg);
  background-repeat: repeat-x;
}
.hearoSection .inner .hint {
  color: var(--whiteColor);
}
.hearoSection .inner .link {
  background: var(--mainColor);
  color: var(--whiteColor);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.hearoSection .inner .link::after {
  content: "";
  background: var(--whiteColor);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.hearoSection .inner .link:hover {
  color: black;
}
.hearoSection .inner .link:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  transition: all 0.5s;
}

.swiperControl {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.swiperControl .swiperBtns {
  display: flex;
  gap: 8px;
}
.swiperControl .swiperBtns .swiper-button-next,
.swiperControl .swiperBtns .swiper-button-prev {
  position: relative;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  width: 40px;
  height: 40px;
  border: 1px solid var(--whiteColor);
  border-radius: 100%;
  transition: var(--transition);
  opacity: 0.8;
}
.swiperControl .swiperBtns .swiper-button-next::after,
.swiperControl .swiperBtns .swiper-button-prev::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("../img/icons/left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: var(--transition);
  filter: invert(1);
}
@media (max-width: 768px) {
  .swiperControl .swiperBtns .swiper-button-next::after,
  .swiperControl .swiperBtns .swiper-button-prev::after {
    font-size: 24px;
  }
}
.swiperControl .swiperBtns .swiper-button-next:hover,
.swiperControl .swiperBtns .swiper-button-prev:hover {
  opacity: 1;
  background-color: var(--whiteColor);
  color: var(--mainColor);
}
.swiperControl .swiperBtns .swiper-button-next:hover::after,
.swiperControl .swiperBtns .swiper-button-prev:hover::after {
  filter: invert(0);
}
.swiperControl .swiperBtns .swiper-button-next.swiper-button-disabled,
.swiperControl .swiperBtns .swiper-button-prev.swiper-button-disabled {
  opacity: 0.2;
}
.swiperControl .swiperBtns .swiper-button-next {
  left: unset;
}
.swiperControl .swiperBtns .swiper-button-next::after {
  transform: scaleX(-1);
}
.swiperControl .swiper-pagination {
  position: relative;
  min-height: 16px;
  left: unset;
  right: unset;
  top: unset;
  bottom: unset;
  margin: unset;
  display: flex;
  justify-content: end;
  align-items: center;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--whiteColor);
  transition: var(--transition);
  border-radius: 16px;
}
.swiperControl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
}

.mainSlider {
  position: relative;
  display: flex;
  width: 100%;
  height: 720px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background: linear-gradient(0deg, rgba(30, 34, 44, 0.35) 0%, rgba(30, 34, 44, 0.35) 100%), url("../assets/slideshow-img-01.webp") lightgray 50%/cover no-repeat;
}
.mainSlider .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
}
.mainSlider .swiper-slide .viewContainer {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.mainSlider .swiper-slide .viewContainer iframe,
.mainSlider .swiper-slide .viewContainer img,
.mainSlider .swiper-slide .viewContainer video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.mainSlider .swiper-slide .viewContainer::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(30, 34, 44, 0.7254901961);
  z-index: 999;
}
.mainSlider .swiper-slide .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
  text-align: center;
  position: relative;
  z-index: 2;
  width: min(100% - 16px, 650px);
  text-wrap: balance;
}
.mainSlider .swiper-slide .info .fav {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mainSlider .swiper-slide .info .sliderTitle {
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 38px !important;
  text-transform: capitalize;
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
@media (max-width: 768px) {
  .mainSlider .swiper-slide .info .sliderTitle {
    font-size: 26px !important;
  }
}
.mainSlider .swiper-slide .info .hint {
  color: var(--whiteColor);
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}
@media (max-width: 768px) {
  .mainSlider .swiper-slide .info .hint {
    font-size: 12px !important;
  }
}
.mainSlider .swiper-slide .info .link {
  opacity: 0;
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 8px;
  align-items: baseline;
  color: var(--lightGrayColor);
  border: 1px solid var(--lightGrayColor);
  padding: 8px 16px;
  border-radius: 8px;
}
.mainSlider .swiper-slide .info .link:hover {
  color: var(--whiteColor);
  border-color: var(--whiteColor);
}
.mainSlider .swiperControl {
  flex-direction: column-reverse;
  align-items: center;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
}
.mainSlider .swiperControl .swiper-pagination {
  justify-content: center;
}
.mainSlider .swiper-slide-active .fav {
  animation: fadeInUp 1s 0.5s both;
}
.mainSlider .swiper-slide-active .sliderTitle {
  animation: fadeInUp 1s 0.75s both;
}
.mainSlider .swiper-slide-active .hint {
  animation: fadeInUp 1s 1s both;
}
.mainSlider .swiper-slide-active a {
  animation: fadeInUp 1s 1.25s both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.latestProjects {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.latestProjects .aboutTitle {
  display: flex;
  padding-bottom: 24px;
}
.latestProjects .swiperContainer {
  width: min(100% - 24px, 1320px);
  margin: auto;
  padding-bottom: 40px;
}
.latestProjects .swiperControl {
  position: relative;
  z-index: 2;
  --whiteColor: #000;
}
.latestProjects .swiperControl .swiperBtns .swiper-button-next::after,
.latestProjects .swiperControl .swiperBtns .swiper-button-prev::after {
  filter: invert(0);
}
.latestProjects .swiperControl .swiperBtns .swiper-button-next:hover::after,
.latestProjects .swiperControl .swiperBtns .swiper-button-prev:hover::after {
  filter: invert(1);
}

.aboutTitle {
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  color: var(--darkColor);
  font-family: "RobotoBlack", sans-serif;
  width: -moz-fit-content;
  width: fit-content;
}
.aboutTitle::after {
  content: "";
  width: 100%;
  height: 14px;
  background-image: url(../img/icons/line.svg);
  background-repeat: repeat-x;
}

.aboutPage {
  padding: 64px 0;
  background-color: var(--whiteColor);
  position: relative;
  z-index: 2;
  top: 0;
}
.aboutPage .row:nth-child(2n) {
  flex-direction: row-reverse;
}
.aboutPage .info {
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 16px;
}
@media (max-width: 768px) {
  .aboutPage .info {
    padding: 48px 16px;
  }
}
.aboutPage .info .des {
  color: var(--darkColor);
}
.aboutPage .info ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.aboutPage .info ul li {
  padding: 4px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.aboutPage .info ul li::before {
  content: "";
  background-image: url(../img/icons/check.svg);
  width: 16px;
  height: 16px;
  background-size: contain;
}
.aboutPage .lazyImg {
  position: relative;
  height: 100%;
}
.aboutPage .lazyImg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  border: 10px solid var(--lightGrayColor);
  width: 100%;
  height: 90%;
  transform: translateY(-50%);
}
.aboutPage .lazyImg .lazyDiv {
  height: 100%;
  margin: auto;
}
.aboutPage .lazyImg .lazyDiv .simpleParallax {
  height: 100%;
}
.aboutPage .lazyImg .lazyDiv img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 85%;
}
.aboutPage .statistic {
  padding: 8px 0;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}
.aboutPage .statistic .counterUp {
  font-weight: bold;
  font-size: 100px;
  background: rgba(167, 169, 172, 0.062745098);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 1px #a7a9ac;
  font-family: "Manrope Alt", Sans-serif;
}
@media (max-width: 768px) {
  .aboutPage .statistic .counterUp {
    font-size: 70px;
  }
}
.aboutPage .statistic h6 {
  font-weight: bold;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  max-height: 100px;
  text-align: center;
}

.socialMedia {
  display: flex;
  justify-content: end;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  padding: 8px;
}
.socialMedia a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grayColor);
  color: var(--grayColor);
  border-radius: 100px;
  transition: var(--transition);
}
.socialMedia a img {
  transition: var(--transition);
  filter: contrast(0.4);
}
.socialMedia a:hover {
  background-color: var(--mainColor);
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  transform: translateY(-4px);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.1882352941);
}
.socialMedia a:hover img {
  filter: contrast(1) brightness(0) invert(1);
}

.partners {
  background-color: var(--mainColor);
  position: relative;
  z-index: 2;
  padding: 100px 0 20px;
  background-image: linear-gradient(60deg, rgba(167, 169, 172, 0.1764705882), rgba(167, 169, 172, 0.3960784314));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.partners .sectionTitle {
  flex-direction: column;
  padding-bottom: 10px;
}
.partners .top {
  margin-bottom: 40px;
  text-align: center;
}
.partners .top .title {
  font-weight: bold;
  color: var(--whiteColor);
  margin-bottom: 16px;
  font-size: 36px !important;
}
@media (max-width: 768px) {
  .partners .top .title {
    font-size: 24px !important;
  }
}
.partners .top .hint {
  color: var(--lightGrayColor);
  width: min(100% - 40px, 800px);
  margin: auto;
}
.partners .referenceLogo {
  height: 150px;
  padding: 10px 20px;
  position: relative;
}
.partners .referenceLogo::after {
  content: "";
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: var(--whiteColor);
  transition: var(--transition);
  z-index: -1;
}
.partners .referenceLogo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: brightness(0) invert(1);
  transition: var(--transition);
}
.partners .referenceLogo:hover::after {
  content: "";
  height: 100%;
}
.partners .referenceLogo:hover img {
  filter: none;
}
.partners .swiperControl {
  position: relative;
  padding-top: 60px;
}
.partners .swiperControl .swiper-pagination {
  justify-content: center;
}

footer {
  background-color: var(--darkColor);
  position: relative;
  z-index: 2;
  padding: 40px 0;
  color: var(--whiteColor);
}
footer .logo img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
  max-height: 80px;
  filter: brightness(0) invert(1);
}
footer .title {
  font-weight: bold;
}
footer .part {
  display: flex;
  gap: 12px;
  align-items: center;
}
footer .part img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
  max-height: 40px;
  filter: brightness(0) invert(1);
}
footer .link {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}
footer .link path,
footer .link svg {
  fill: var(--lightGrayColor);
}
footer .link:last-child {
  margin-bottom: 0;
}
footer .link .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--lightGrayColor);
}
footer .link .icon svg {
  width: 20px;
  height: 20px;
}
footer .link a,
footer .link p {
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: var(--whiteColor);
  transition: var(--transition);
}
footer .link a span,
footer .link p span {
  color: var(--lightGrayColor);
}
footer .link:hover p {
  color: var(--mainColor);
}
footer .socialMedia a img {
  filter: brightness(0) invert(1) contrast(0.8);
}
footer .border-top {
  --bs-border-color: #4e4e4e;
}

.Products {
  padding: 50px 0;
}
.Products .inner {
  display: flex;
  gap: 24px;
}
@media (max-width: 1200px) {
  .Products .inner {
    flex-direction: column;
  }
}
.Products .inner .nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 8px;
  height: -moz-fit-content;
  height: fit-content;
  position: sticky;
  top: 100px;
}
@media (max-width: 1200px) {
  .Products .inner .nav {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 12px;
    position: relative;
    top: unset;
  }
}
.Products .inner .nav .nav-link {
  border-radius: 8px;
  padding: 12px 24px;
  padding-left: 12px;
  color: var(--darkColor);
  text-transform: capitalize;
  position: relative;
  isolation: isolate;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
  min-width: 150px;
  background-color: #eee;
}
@media (max-width: 1200px) {
  .Products .inner .nav .nav-link {
    flex: 1;
    white-space: nowrap;
    align-items: center;
    padding-left: 24px;
  }
}
.Products .inner .nav .nav-link::after {
  content: "";
  background-color: var(--mainColor);
  z-index: -2;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(100%, 50%) rotate(45deg) scale(0.1);
  display: flex;
  transition: var(--transition);
  border-radius: 4px;
  opacity: 0;
}
@media (max-width: 1200px) {
  .Products .inner .nav .nav-link::after {
    right: 50%;
    bottom: 0%;
    transform: translate(100%, 50%) rotate(45deg) scale(0.1);
  }
}
.Products .inner .nav .nav-link.active {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.Products .inner .nav .nav-link.active::after {
  transform: translate(50%, 50%) rotate(45deg);
  opacity: 1;
}
.Products .inner .tab-content {
  flex: 1;
  padding: 12px;
}
.Products .inner .tab-content .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 20px;
}
.Products .inner .tab-content .gallery img {
  flex: 1 250px;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
.Products .inner .tab-content .gallery:nth-child(4n) {
  min-width: 40vw;
}
@media (max-width: 768px) {
  .Products .inner .tab-content .gallery {
    min-width: 30vw;
  }
  .Products .inner .tab-content .gallery:nth-child(4n) {
    min-width: 60vw;
  }
}
@media (max-width: 768px) {
  .Products .inner .tab-content {
    gap: 4px;
  }
}
.Products .inner .tab-content .Various {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding-top: 20px;
}
.Products .inner .tab-content .Various a {
  flex: 1 100px;
  display: flex;
  height: 100px;
  border-radius: 2px;
  max-width: 150px;
}
.Products .inner .tab-content .Various a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}
.Products .inner .tab-content .table {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  margin: 20px 0;
}
.Products .inner .tab-content .table thead {
  background-color: var(--mainColor);
  color: var(--whiteColor);
}
.Products .inner .tab-content .table > :not(caption) > * > * {
  padding: 12px;
}

.fw-bold {
  font-family: "RobotoBlack", sans-serif;
}

.projectsSlider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 600px;
}
.projectsSlider .projectsSliderContainer {
  width: 100%;
  height: 100%;
}
.projectsSlider .projectsSliderContainer .swiper-slide {
  position: relative;
  display: flex;
  align-items: end;
  width: 100%;
  background-color: var(--darkColor);
}
@media (max-width: 1200px) {
  .projectsSlider .projectsSliderContainer .swiper-slide {
    padding-bottom: 80px;
  }
}
.projectsSlider .projectsSliderContainer .swiper-slide video {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  z-index: 1;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1.35);
}
.projectsSlider .projectsSliderContainer .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.projectsSlider .projectsSliderContainer .swiper-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(31, 31, 31, 0), rgba(31, 31, 31, 0.5568627451) 75%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.projectsSlider .projectsSliderContainer .swiper-slide .info {
  position: relative;
  z-index: 2;
  width: min(100%, 700px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
  padding-bottom: 60px;
}
@media (max-width: 1200px) {
  .projectsSlider .projectsSliderContainer .swiper-slide .info {
    padding: 12px;
  }
}
.projectsSlider .projectsSliderContainer .swiper-slide .info .sliderTitle {
  color: var(--whiteColor);
  font-weight: bold;
  font-size: 45px !important;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .projectsSlider .projectsSliderContainer .swiper-slide .info .sliderTitle {
    font-size: 32px !important;
  }
}
.projectsSlider .projectsSliderContainer .swiper-slide .info .hint {
  color: var(--whiteColor);
}
@media (max-width: 768px) {
  .projectsSlider .projectsSliderContainer .swiper-slide .info .hint {
    font-size: 12px !important;
  }
}
.projectsSlider .projectsSliderContainer .swiper-slide .info .link {
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 8px;
  align-items: baseline;
  color: var(--lightGrayColor);
}
.projectsSlider .projectsSliderContainer .swiper-slide .info .link:hover {
  color: var(--whiteColor);
}
.projectsSlider .swiperControl {
  padding: 0 20px 10px;
}
.projectsSlider .swiper-slide-active .sliderTitle {
  animation: fadeInUp 1s 0s both;
}
.projectsSlider .swiper-slide-active .hint {
  animation: fadeInUp 1s 0.75s both;
}
.projectsSlider .swiper-slide-active a {
  animation: fadeInUp 1s 1.5s both;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.projects {
  padding: 50px 0;
}

.project {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: var(--transition);
  margin-bottom: 20px;
}
.project img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.project .data {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.project .title {
  color: var(--darkColor);
  transition: var(--transition);
  font-weight: bold;
}
.project .description {
  color: var(--grayColor);
}
.project:hover {
  transform: translateY(-5px);
}
.project:hover .title {
  color: var(--mainColor);
}

.projectDetails {
  padding: 50px 0;
}
.projectDetails .swiperContainer {
  position: relative;
}
.projectDetails .projectDetailsSlider {
  position: relative;
  aspect-ratio: 9/6;
  border-radius: 2px;
}
.projectDetails .projectDetailsSlider .swiper-slide {
  position: relative;
}
.projectDetails .projectDetailsSlider .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.projectDetails .projectDetailsSlider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
  display: block;
}
.projectDetails .project {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: var(--transition);
  padding-bottom: 48px;
}
.projectDetails .project img {
  aspect-ratio: 2/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.projectDetails .project .title {
  color: var(--darkColor);
  transition: var(--transition);
  font-weight: bold;
}
.projectDetails .project .description {
  color: #777;
}
.projectDetails .Moreprojects {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  gap: 32px;
}
.projectDetails .Moreprojects .headTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
}
.projectDetails .Moreprojects .headTitle::after {
  content: "";
  width: 30%;
  background-color: var(--mainColor);
  height: 2px;
  display: flex;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .projectDetails .Moreprojects .headTitle {
    font-size: 22px;
  }
}
.projectDetails .Moreprojects .project {
  display: flex;
  gap: 12px;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: row;
  padding-bottom: 0px;
  align-items: center;
  padding: 0;
}
.projectDetails .Moreprojects .project .data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.projectDetails .Moreprojects .project img {
  width: 100px;
  height: 100px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.contactUs {
  padding: 50px 0 0;
}
.contactUs .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .contactUs .title {
    font-size: 40px;
  }
}
.contactUs .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.contactUs .info .link {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}
.contactUs .info .link path,
.contactUs .info .link svg {
  fill: var(--darkColor);
}
.contactUs .info .link:last-child {
  margin-bottom: 0;
}
.contactUs .info .link .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--darkColor);
}
.contactUs .info .link .icon svg {
  width: 20px;
  height: 20px;
}
.contactUs .info .link p {
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: var(--darkColor);
  transition: var(--transition);
}
.contactUs .info .link p span {
  color: var(--grayColor);
}
.contactUs .info .link:hover p {
  color: var(--mainColor);
}
.contactUs form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}
.contactUs form .form-control {
  border: none;
  background: #eee;
  border-radius: 0;
  color: var(--darkColor);
  min-height: 64px;
  padding: 16px;
}
.contactUs form .btn {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px 32px;
  background-color: #000;
  color: var(--whiteColor);
  border-radius: 0;
  transition: var(--transition);
  font-size: 16px;
  text-transform: capitalize;
}
.contactUs form .btn:hover {
  background: var(--mainColor);
  gap: 16px;
}
.contactUs .map {
  width: 100%;
  height: 400px;
  padding-top: 40px;
}
.contactUs .map iframe {
  width: 100%;
  height: 100%;
}

.banner {
  background-image: url(../img/concrete-structure-blue-sky.jpg) !important;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 250px 0 50px;
  position: relative;
  display: flex;
  isolation: isolate;
}
@media (max-width: 768px) {
  .banner {
    padding: 200px 0 30px;
  }
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.2196078431), #ffffff);
  z-index: -1;
}
.banner .links a {
  padding: 4px;
  position: relative;
  color: var(--darkColor);
  display: inline-flex;
  align-items: center;
  gap: 12px;
  text-transform: capitalize;
}
.banner .links a:last-child::after {
  display: none;
}
.banner .links a::after {
  content: " ↣ ";
}
.banner .links a.active {
  cursor: default;
  color: var(--grayColor);
}
.banner h2 {
  font-weight: bold;
  color: var(--darkColor);
  text-transform: capitalize;
  font-family: "RobotoBlack", sans-serif;
}/*# sourceMappingURL=style.css.map */